<mat-card class="example-card" *ngFor="let tweet of (tweets$ | async)">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img
        mat-card-image
        class="avatar_img"
        src={{(userData$|async)?.profile_image_url}} 
        alt="Photo of a Shiba Inu"
      />
    </div>
    <mat-card-title> {{ (userData$|async)?.name }} </mat-card-title>
    <mat-card-subtitle> {{ (userData$|async)?.username }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ tweet.text }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="like_btn" mat-button>
      <mat-icon>favorite</mat-icon>
      LIKE
    </button>
    <button color="primary" mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
