.example-card{
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
}
.like_btn{
    background-color: #3f51b5;
    color: #fff;
}
.avatar_img{
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
}
.mat-card-image {
    width: calc(100% + 12px);
    margin: 0 -16px 16px -3px;
}
.mat-card-image:first-child {
    margin-top: -6px;
    cursor: pointer;
}
